<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360" />
    <title>Interesting GAMES</title>
    <link rel="icon" href=" " type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/static/css/game.css">
    <style>
        .myh {
            margin-top: 10px;
            text-align: center;
            font-size: 25px;
            background-color: #8da728;
            color: white;
            margin-bottom: 10px;
        }

        .btp {
            -webkit-font-smoothing: antialiased;
            line-height: 1.2!important;
            box-sizing: inherit;
            font-size: 12px!important;
            text-align: justify;
            margin-top: 10px;
        }
    </style>
</head>

<body>
<div class="container">
    <h2 class="myh">Interesting GAMES</h2>
    <div class="header">
        <img src="/static/img/bg.png" />
    </div>
    <div class="footer">
        <div class="sub">
            <p style="font-size:12px">
                Poplatek je 99,00 Kč / týden. Tento závazek můžete kdykoli zrušit zasláním STOP CZ197 na 90440.
            </p>
            <button class="buttonOne" id="submit_btn_mobile" onclick="location.href='/'">Pokračovat</button>

        </div>
    </div>
    <div style="text-align: center;font-size: 10px;">
        <a href="http://www.foxseek.com/">Foxseek Media Limited</a><br>
        <a href="http://www.foxseek.com/">http://www.foxseek.com</a><br>
        Evidenční číslo: 1922945<br>
        Registrační soud: Hongkong<br>
        Registrační adresa: Unit B, 10/F Lee May Buliding 788-790 Nathan Road Mongkok Kowloon Hong Kong<br><br>
    </div>
</div>
</body>

</html>