<html>

<head>

    <meta name="viewport" content="width=360">
    <link rel="icon" href=" " type="image/x-icon" />
    <title>Helpdesk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" media="all" href="/static/css/lp.css" rel="stylesheet" />
    <style>
        p {
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="infot">
            <div class="col-xs-12 text-center txt1">
                <h2>Helpdesk
                </h2>
            </div>
            <div class="col-xs-10">
                <p class="text-left">
                    <p>Ons Product: Click4FunGame </p>
                    <p>HONGKONG LEADER NETWORK CO., LIMITED</p>
                    <p>Merknaam: HK LEADER</p>
                    <p>Subscription: Prijs: € 5,00 per week </p>
                    <p>E-mail: info-nl@mobileinfo.biz</p>
                    <p>Telefoon: 09004664664</p>
                    <p>Adres: Flat/ RM C, 15/F, Hua Chiao Commercial Centre 678 Nathan Road, Mongkok, Hong Kong</p>
                    <p>Land: Hongkong China</p>
                    <p>Kamernummer: 2350936</p>
                    <p>VAT: 303 0558 46</p>
                </p>
            </div>
        </div>
    </div>
</body>

</html>