<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=360" />
	<link rel="icon" href=" " type="image/x-icon" />
	<title>Interesting GAMES</title>
	<link type="text/css" rel="stylesheet" href="/static/css/game.css">
	<style type="text/css">
		.myp {
			text-align: center !important;
			color: black;
			margin: 10px;
		}

		.myh {
			margin-top: 0px;
			text-align: center;
			font-size: 25px;
			background-color: #8da728;
			color: white;
			margin-bottom: 0px;
		}

		.btp {
			font-family: sans-serif;
			text-align: justify;
			font-size: 12px;
			margin: 5px;
		}
	</style>
</head>

<body>
	<div class="container">
		<h2 class="myh">Click4Fun GAMES</h2>
		<div class="header">
			<img src="/static/img/game.png" />
		</div>
		<div class="footer">
			<div class="sub">
				<h4 class="myp">Prijs: € 5,00 elke week(omvatten VAT)</h4>
				<button class="buttonOne" id="submit_btn_mobile">Aanmelden</button>
				<p style="margin-block-end: 0em;margin-block-start: 0em;">Leverancier: HONGKONG LEADER NETWORK CO., LIMITED<br>
					Telefoon: 09004664664<br>
					E-mail: info-nl@mobileinfo.biz</p>
					<a href="/t">T&C | </a><a href="/h">Help | </a><a href="/p"> Privacy</a>
			</div>
		</div>
		<p class="btp">
			Voorwaarden: Je bevestigt dat je minstens 18 jaar oud bent of de meerderheidsleeftijd hebt in de jurisdictie waaruit je de Websites bezoekt, en je volledig competent bent om akkoord te gaan met deze gebruiksvoorwaarden, condities, verplichtingen, bevestigingen, representaties en garanties beschreven in deze Gebruiksvoorwaarden
			Als je de Websites bezoekt of gebruikt, of je nu op 'aanvaard' klikt of niet, stem je toe met alle voorwaarden en deze Gebruikersvoorwaarden.
			Wanneer je de Websites gebruikt, zal je onderhevig zijn aan alle geposte regels, communityrichtlijnen, of beleiden.
			Als je vragen hebt, neem dan contact op met 09004664664 of info-nl@mobileinfo.biz.
			Als u het abonnement wilt annuleren, stuurt u stop naar XXX..
		</p>
	</div>
</body>

</html>