<html>

<head>

    <meta name="viewport" content="width=360">
    <link rel="icon" href=" " type="image/x-icon" />
    <title>Privacy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" media="all" href="/static/css/lp.css" rel="stylesheet" />
    <style>
        p {
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="infot">
            <div class="col-xs-12 text-center">
                <h2>Privacy
                </h2>
            </div>
            <div class="col-xs-10">
                <p class="text-left">
                    <p>Om gebruik te maken van alles wat deze Website te bieden heeft moet je wel een aantal regels in
                        acht nemen en respecteren. Deze regels en andere rechten en plichten deze Website staan
                        hieronder beschreven. Lees de onderstaande Gebruiksvoorwaarden van deze Website dan ook
                        aandachtig door.</p>
                    <h4>1. Wijziging Gebruikersvoorwaarden</h4>
                    <p>leadernethk.com kan de Gebruiksvoorwaarden van tijd tot tijd wijzigen. De meest recente versie
                        van deze voorwaarden inzien door de link "Gebruikersvoorwaarden" onderaan de Websites aan te
                        klikken. Het is uw verantwoordelijkheid deze Gebruiksvoorwaarden van tijd tot tijd op
                        wijzigingen te controleren. Indien u van de Websites blijft gebruikmaken nadat wij wijzigingen
                        in de Gebruiksvoorwaarden hebben bekendgemaakt, geeft u daarmee te kennen dat u de nieuwe
                        voorwaarden aanvaardt.</p>
                    <h4>2. Aanvullende voorwaarden</h4>
                    <p>Bepaalde delen van de Website, zoals pagina's waarop u bestanden kunt downloaden, kunnen
                        richtlijnen en voorschriften voor gebruik bevatten, die een aanvulling vormen op de
                        Gebruiksvoorwaarden. Door van deze diensten op de Website gebruik te maken, verplicht u zich
                        dergelijke richtlijnen en voorschriften in acht te nemen.</p>
                    <h4>3. Persoonsgegevens</h4>
                    <p>De gebruiker kan bij het aanmaken van een account op vrijwillige basis zijn contact en
                        gerelateerde gegevens, inclusief persoonlijke informatie, verstrekken, waaronder een
                        gebruikersnaam, wachtwoord, e-mailadres, geboortedatum en geslacht. Deze informatie die aan
                        leadernethk.com wordt verzonden, wordt gebruikt om met klanten te communiceren en diensten
                        aan te bieden. leadernethk.com verwijdert, corrigeert of werkt persoonlijke gegevens bij
                        wanneer daarom wordt gevraagd door de gebruiker.</p>
                    <p>Welke gegevens slaat leadernethk.com op, waarom en hoelang?</p>
                    <p>Bij het aanmaken van een account wordt vastgelegd:</p>
                    <p>- De gebruikersnaam is bedoelt zodat deze boven berichten weergegeven kan worden en in de high
                        score lijst.</p>
                    <p>- Het e-mailadres is bedoelt zodat een account geverifieerd en geactiveerd kan worden. En zodat
                        er een nieuw wachtwoord aangemaakt kan worden.</p>
                    <p>- Een wachtwoord is nodig zodat niet iedereen op elk account kan inloggen.</p>
                    <p>- Het geslacht wordt vastgelegd omdat deze in bepaalde maten bepalen is voor de spelletjes die
                        interessant zouden kunnen zijn.</p>
                    <p>- De geboortedatum is van belang om uit te kunnen sluiten dat bepaalde spelletjes, die niet
                        geschikt zijn voor bepaalde leeftijdsgroepen, ook niet gespeeld kunnen worden.</p>
                    <p>Gespeelde spelletjes worden alleen vastgelegd, voor een periode van 6 maanden, als je ingelogd
                        bent via een hierboven beschreven account. Zodat een spelletje dat gespeeld is, terug te vinden
                        is en bijvoorbeeld overnieuw of verder gespeeld kan worden.</p>
                    <p>Een account maakt het ook mogelijk om een reactie onder een spelletje achter te laten.</p>
                    <p>Elk spelletje kan ook gewaardeerd worden. Om te voorkomen dat er meerdere keren gestemd kan
                        worden. Wordt een waardering, van iemand die ingelogd is via een account, opgeslagen en is
                        gekoppeld aan dit account. Zonder account, wordt een waardering 1 jaar opgeslagen, gekoppeld
                        aan het IP-adres.</p>
                    <p>Wil je gegevens of je account verwijderen, inzien of bewerken? Neem dan contact op met
                        leadernethk.com via het contactformulier.</p>
                    <h4>4. Wijzigingen Website</h4>
                    <p>leadernethk.com kan de op de Website aangeboden diensten, spelletjes, lay-out en
                        programma-eigenschappen te allen tijde zonder kennisgeving beëindigen of wijzigen.</p>
                    <p>leadernethk.com behoudt zich het recht voor de Website of onderdelen van de Website tijdelijk
                        buiten gebruik te stellen ten behoeve van onderhoud, aanpassing of verbetering van de Website
                        en servers van leadernethk.com. leadernethk.com zal wegens zodanige buitengebruikstelling
                        van de Dienst nimmer tot enige schade jegens jou of een andere Gebruiker gehouden zijn.</p>
                    <h4>5. Toepassing Gebruiksvoorwaarden</h4>
                    <p>De Gebruiksvoorwaarden zijn van toepassing op de overeenkomst tussen leadernethk.com en ieder
                        gebruik van de Website.</p>
                    <p>Iedereen die de overeenkomst sluit met leadernethk.com, iedereen die spelletjes speelt op de
                        Website en iedereen die het profielgedeelte bezoekt is een Gebruiker van de Website. De
                        Gebruiker kan zowel een natuurlijke- als een rechtspersoon zijn.</p>
                    <p>Deze Gebruiksvoorwaarden zijn niet van toepassing op websites van derden. Op de Website staan
                        links naar websites van derden. Het is duidelijk dat je leadernethk.com hebt verlaten als je
                        op een link naar een website van een derde hebt geklikt. Op het moment dat je leadernethk.com
                        hebt verlaten gelden de voorwaarden van de aanbieders van die website. Wij adviseren dan ook de
                        daar geldende voorwaarden goed door te nemen.</p>
                    <h4>6. Totstandkoming overeenkomst</h4>
                    <p>De overeenkomst komt tot stand op doordat jij, de Gebruiker, je registreert via de Website.</p>
                    <p>De overeenkomst komt ook tot stand doordat jij, de Gebruiker, gebruik maakt van de Website.</p>
                    <p>leadernethk.com heeft het recht, zonder opgaaf van reden, een Gebruiker te weigeren.</p>
                    <h4>7. Voorwaarden gebruik Website</h4>
                    <p>Om gebruik te mogen maken van de Website moet je tenminste 13 jaar oud zijn of toestemming
                        hebben van je ouders of wettelijke vertegenwoordiger (hierna: Ouders). Hier word je ook op
                        gewezen op de Website. leadernethk.com gaat er dan ook vanuit dat een Gebruiker 13 jaar of
                        ouder is of met toestemming van zijn of haar Ouders gebruikmaakt van de Website.</p>
                    <p>Een account wachtwoord dient geheim gehouden te worden. Website mag ervan uitgaan dat een
                        Gebruiker die zich aanmeldt op de Website ook daadwerkelijk de Gebruiker is en is niet
                        verantwoordelijk voor misbruik van het wachtwoord. Je moet Website op de hoogte stellen als je
                        een vermoeden hebt dat het wachtwoord in handen is gekomen van een ander. Website heeft het
                        recht doeltreffende maatregelen te nemen in dergelijke gevallen.</p>
                    <p>Website kan een Gebruiker verwijderen of op non-actief zetten zonder opgaaf van redenen.</p>
                    <p>Je onthoudt je van ongeoorloofd gebruik van de Website en je zult je opstellen en gedragen
                        conform hetgeen door leadernethk.com mag worden verwacht van een zorgvuldig Gebruiker van de
                        Website. Dit betekent in ieder geval dat je de Website niet mag gebruiken voor eigen gewin of
                        de Website schade mag toebrengen.</p>
                    <p>Als je toch in strijd handelt met deze Gebruiksvoorwaarden heeft leadernethk.com het recht je
                        zonder opgaaf van redenen te weigeren, te verwijderen en om je de toegang tot de Website en
                        haar mogelijkheden te ontzeggen/te blokkeren.</p>
                    <h4>8. Communicatie</h4>
                    <p>Deze regels gelden voor alle communcitie tussen Gebruikers en/of de Website.</p>
                    <p>Je dient je te onthouden van ongeoorloofd gebruik van jouw profiel op de Website en je zult je
                        opstellen en gedragen zoals verwacht mag worden van een zorgvuldig Gebruiker.</p>
                    <p>Daarmee wordt in ieder geval bedoeld dat je alle op de Website weergegeven of aan jou gerichte
                        voorschriften en aanwijzingen ten aanzien van het profiel in acht zal nemen, waaronder
                        aanwijzingen van het personeel/moderators van leadernethk.com. Verder zul je geen overlast
                        veroorzaken voor andere Gebruikers. Ook betekent dit dat je geen onrechtmatige informatie zal
                        plaatsen, geen berichten van leadernethk.com of Gebruikers zal wijzigen, wissen of
                        onbruikbaar maken.</p>
                    <p>Onrechtmatige informatie is informatie die in strijd is met Nederlandse wet- en regelgeving, de
                        goede zeden, de openbare orde en/of de rechten van derden. Hieronder valt in het bijzonder,
                        maar niet uitsluitend informatie die zonder toestemming van de auteursrechthebbende(n) wordt
                        aangeboden, informatie die smadelijk, bedreigend, beledigend, racistisch, haatzaaiend of
                        discriminerend is, spam, informatie die pornografie bevat en informatie die de privacy van
                        derden schendt of een vorm van stalking oplevert, evenals hyperlinks, torrents of andere
                        verwijzingen naar dergelijke informatie op sites van derden waar dan ook ter wereld (zelfs
                        wanneer de informatie in de betreffende jurisdictie legaal zou zijn).</p>
                    <p>Omdat er ook kinderen op de Website komen mogen er geen pornografische of anderszins seksueel
                        getinte afbeeldingen of teksten worden geplaatst.</p>
                    <p>Je bent zelf verantwoordelijk voor de berichten die je via jouw profiel plaatst. Indien de
                        inhoud van jouw bericht onrechtmatig is, kan je daar zelf aansprakelijk voor worden gehouden.
                        leadernethk.com kan niet garanderen dat de inhoud van de berichten van Gebruikers rechtmatig
                        en/of juist zijn.</p>
                    <p>Je erkent dat leadernethk.com niet verplicht is om uit eigen beweging berichten van Gebruikers
                        op wat voor wijze dan ook te controleren of te bewerken, noch voor plaatsing van het bericht,
                        noch daarna.</p>
                    <p>Indien leadernethk.com tot het inzicht komt dat bepaalde berichten niet aan deze
                        Gebruiksvoorwaarden voldoen, is zij bevoegd deze berichten naar eigen goeddunken te verwijderen
                        of aan te passen.</p>
                    <p>Je vrijwaart leadernethk.com van alle aanspraken die voortkomen uit inbreuk op rechten van
                        derden die door jou zijn gepleegd met gebruikmaking van jouw profiel en/of berichten op de
                        Website, of uit schending van deze Gebruiksvoorwaarden.</p>
                    <p>Je verleent aan leadernethk.com kosteloos alle rechten en/of toestemmingen die noodzakelijk
                        zijn om berichten van jou te kunnen plaatsen. In ieder geval wordt verleend een onbezwaarde,
                        wereldwijde, sublicentieerbare niet-exclusieve licentie om het werk openbaar te maken.</p>
                    <p>Iedereen is machtigt om leadernethk.com op de hoogte stellen, van gedragingen of berichten van
                        Gebruikers die jegens jou of hem/haar onrechtmatig zijn.</p>
                    <p>Bij herhaaldelijke klachten en/of herhaald overtreden van deze Gebruiksvoorwaarden is
                        leadernethk.com gerechtigd je de toegang tot de Website te ontzeggen.</p>
                    <h4>9. Aansprakelijkheid</h4>
                    <p>leadernethk.com is niet aansprakelijk voor enige schade van Gebruiker, uit welke hoofde dan
                        ook, waaronder mede begrepen gevolgschade, verlies van jouw profiel en/of de daaraan gekoppelde
                        gegevens dan wel immateriële schade.</p>
                    <p>leadernethk.com is niet aansprakelijk voor enige vorm van schade die wordt geleden door het
                        bezoeken van websites van derden.</p>
                    <p>leadernethk.com doet zijn best om ervoor te zorgen dat er geen ongepaste spellen, advertenties
                        of berichten op de Website terecht komen. Doch is het niet mogelijk om alles te monitoren en
                        heeft leadernethk.com niet altijd controle over de advertenties. leadernethk.com aanvaardt
                        dan ook geen aansprakelijkheid voor enige door jou geleden schade vanwege het onverhoopt wel
                        aanwezig zijn van zulke informatie. Je kunt altijd contact opnemen met leadernethk.com, mocht
                        je dergelijke informatie tegenkomen. Gebruik bij voorkeur het contactformulier.</p>
                    <h4>10. Notice & Takedown procedure</h4>
                    <p>leadernethk.com hanteert een procedure waarmee Gebruikers van de Website waaronder ouders van
                        kinderen onder de 16, auteursrechthebbenden van spellen en andere Gebruikers van de Website een
                        melding kunnen maken van naar hun mening aangeboden of gepubliceerde onrechtmatige of
                        ongewenste informatie.</p>
                    <p>Als een klacht naar het oordeel van leadernethk.com gerechtvaardigd is, is leadernethk.com
                        gerechtigd het materiaal te verwijderen of ontoegankelijk te maken. Tevens is leadernethk.com
                        gerechtigd persoonsgegevens van jou te verstrekken aan de melder of aan de bevoegde instanties
                        indien jij het materiaal hebt geplaatst of lijkt te hebben geplaatst. leadernethk.com zal je
                        informeren over het verloop van deze procedure.</p>
                    <p>Wanneer sprake is van mogelijk strafbare informatie, is leadernethk.com gerechtigd hiervan
                        aangifte te doen. leadernethk.com kan hierbij alle relevante informatie over jou en andere
                        mogelijk betrokken Gebruiker(s) overhandigen aan de bevoegde instanties en alle andere
                        handelingen verrichten die deze instanties leadernethk.com verzoeken te verrichten in het
                        kader van het onderzoek. </p>
                    <p>Bij herhaaldelijke klachten over de door jou aangeboden informatie is leadernethk.com
                        gerechtigd de Overeenkomst te ontbinden en/of te beëindigen en je te weren van de Website.</p>
                    <p>Je vrijwaart leadernethk.com voor alle schade als gevolg van bovenstaande. leadernethk.com
                        is niet aansprakelijk voor welke schade dan ook die je lijdt door een ingrijpen van
                        leadernethk.com in het kader van de klachtenprocedure, ook niet wanneer de klacht onterecht
                        blijkt en de informatie niet in strijd is met Nederlands recht.</p>
                    <p>Maak voor een Notice & Takedown bericht gebruik van het contactformulier.</p>
                    <h4>11. Beëindiging overeenkomst</h4>
                    <p>Uw recht op het gebruik van de Websites eindigt automatisch bij overtreding van de
                        Gebruiksvoorwaarden of andere in verband met de Websites bekendgemaakte voorschriften of
                        richtlijnen. Wij behouden ons bovendien het recht voor uw toegang tot de Websites of delen
                        daarvan om welke reden dan ook, al dan niet met kennisgeving, te beëindigen, zulks te onzer
                        uitsluitende beoordeling.</p>
                    <h4>12. Slotbepaling</h4>
                    <p>Op de overeenkomst is Nederlands recht van toepassing.</p>
                    <p>Voor zover door de regels van dwingend recht niet anders wordt voorgeschreven, zullen alle
                        geschillen die mochten ontstaan naar aanleiding van de overeenkomst worden voorgelegd aan de
                        bevoegde Nederlandse rechter te 's-Hertogenbosch.</p>
                    <p>Partiële nietigheid: Indien een bepaling uit de overeenkomst en/of de Gebruiksvoorwaarden nietig
                        blijkt te zijn, tast dit niet de geldigheid van de gehele overeenkomst/Gebruiksvoorwaarden aan.</p>
                    <p>Partijen bij de overeenkomst zullen ter vervanging (een) nieuwe bepaling(en) vaststellen,
                        waarmee zoveel als rechtens mogelijk is aan de bedoeling van de oorspronkelijke
                        overeenkomst/Gebruiksvoorwaarden gestalte wordt gegeven.</p>
                </p>
            </div>
        </div>
    </div>
</body>

</html>