<html class=" touch" lang="zh" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="theme-color" content="#c52626">
    <title>{{.Title}}</title>
    <link rel="stylesheet" media="screen" href="/static/css/page2.css">
    <link rel="stylesheet" media="screen" href="/static/css/page.css">

    <link rel="stylesheet" media="screen" href="/static/css/index.css">
    <style>
        .category_container {
            position: relative;
        }

        .category_container ul {
            margin: 0;
            padding: 0;
            height: 50px;
            line-height: 60px;
        }

        .category_container ul li {
            list-style: none;
            float: right;
        }

        .category_container ul li a {
            color: #0b57a2;
        }
    </style>
</head>

<body class="items tag games-active" data-controller="Items" data-action="tag" data-filter-compatibility-games="true"
      data-remove-intersection-links="true">

<div class="features-overlay" onclick="location.href='/admin/features';"></div>
<nav class="navbar navbar-inverse" style="height: 62px; position: fixed;width: 100%;">
    <center><a href="/"><img src="/static/img/logo.png" style="margin-top: 20px; width: 85%;max-width: 378px;"></a></center>
</nav>

<div class="container">
    <div class="main tag">

        <div class="category_container">
            <ul>
                {{range .CategoryList}}

                    <li><a href="/category?category_id={{.Id}}">{{.Name}}&nbsp;</a></li>

                {{end}}
            </ul>
        </div>


        <div class="box items-grid no-background">
            <div class="row">
                <div class="row" id="items_container" data-base-url="/tags/Touchscreen" data-max-page="12"
                     data-infinite-scrolling="true">
                    {{range .games}}
                        <div class="item thumb videobox"
                             data-label-ids="1 Player,Doctor,Free Game,Y8 Account,Y8 Achievements,Y8 Save,Y8 Screenshot,Simulation,HTML5,Android game,iPad,iPhone,Mobile,Touchscreen">
                            <div class="thumbarea">
                                <div class="microthumb"></div>
                                <a href="/game/{{.Id}}">
                                    <div class="thumb-img-container">
                                        <img class="thumb playable" alt="Knee Surgery Simulator"
                                             src="https://s3-us-west-1.amazonaws.com/static-soource/game/img/{{.Img}}/img/game.png">
                                    </div>
                                </a>
                            </div>
                            <a href="/game/{{.Id}}">
                                <div class="infos">
                                    <p class="title ltr">{{.NameSk}}</p>
                                    <div class="technology" style="display: block;">
                                        <p class="html">HTML5 Hra</p>
                                    </div>
                                    <p class="plays-count">
                                        {{.PlayNum}}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/*<center>*/}}
{{/*    <button style="border: solid 1.2px #040604;*/}}
{{/*        font-size: 19px;*/}}
{{/*        margin-bottom: 12px;*/}}
{{/*        background: #f1a744;*/}}
{{/*        border-radius: 11px;" onclick="location.href='/unsub/page'">odhlásiť*/}}
{{/*    </button>*/}}
{{/*</center>*/}}
{{/*<br>*/}}
<footer style="text-align: center; margin-top: -25px;">
    <p class="service">
        Vlastnik služby: Foxseek Media Limited, www.foxseek.com, 0800008304
        SMS agregator pre Slovensko: goodgames, s.r.o. www.good-games.sk, 0948436649, info@good-games.sk
    </p>

    <p class="links">
        <a href="/sk/terms">Všeobecné obchodné podmienky</a> -
        <a href="/sk/privacy">Zásady ochrany osobných údajov</a> -
        <a href="/sk/help">Pomoc</a>
    </p>

    <p class="copyrights">
        InterestingGame ponúka Foxseek Media Limited
    </p>
</footer>

<div style="width: 100%; height: 30px;"></div>

</body>

</html>
