<!DOCTYPE html>
<html data-campaign="12352"><head>
    <title>InterestingGame</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/static/skcss/1cd7cf89d2.js"></script>
    <script src="/static/skcss/nr-1167.js"></script>
    <script src="/static/skcss/lp.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    
    <!-- base href="https://www.999games.online/" -->

    <link href="/static/skcss/css.css" rel="stylesheet">
    <link href="/static/skcss/app.css" rel="stylesheet">
    <link href="/static/skcss/90828.css" rel="stylesheet" media="screen">
    <link href="/static/skcss/90868.css" rel="stylesheet" media="screen">
    <link href="/static/skcss/90840.css" rel="stylesheet" media="screen">
</head>
<body class="pin ba webType SK sk_SK">
    
    <header data-auto-hide="0"></header>

    <main>
        <div id="call2action_logo"></div>
        <div id="call2action_before"></div>
        <div id="call2action">
        <div id="web_call2action_header"></div>
        <div id="web_call2action_main">                                                        
            <div id="call2action_mo">
                <div id="call2action_mo_sms_text">
                    Predplatné cena služby 6 EUR/týždeň(vrátane DPH)
                    <br>
                    Pošlite SMS s textom ING pre 7404
                    <!-- <br>
                    ALEBO Kliknutím na toto tlačidlo vygenerujete SMS
                    </a> -->
                </div>
            <a  href="sms:7404;?&amp;body=ING AKTIVACIA PREDPLATENEJ SLUZBY InterestingGame, CENA 6 EUR/TYZDEN" style="width: 480px" class="button">Odoslať</a>
            <p class="service">
                <br>
                Interesting GAME – je prémiová služba, ktorá poskytuje svojim zákazníkom prístup k hernému portálu s viac ako 1000 rôznymi hrami. Prináša používateľovi obrovský zážitok v hernom svete, pretože obsahuje špičkové exkluzívne hry, ktoré sú nezávislé od platformy. Aktualizujeme 10-15 hier týždenne, aby si používatelia mohli užiť zaujímavejšie
            <br><br>Vypnutie: odošlite STOP ING na 7404
            </p> 
        </div>                                            

        <div id="call2action_after">
        </div>
    </main>

    <footer>
        <p class="service">
            Poslaním správy s textom ING na číslo 7404 si predplatite službu InterestingGame : Služba stojí pre Telekom a Orange a O2 a 4KA <a id="tariff">6,00 EUR ( 3 x 2,00 EUR)</a>
            vrátane DPH týždenne.
            Môžu Vám byt naúčtované dodatočné poplatky za prenos dát. 
            Odpovedaním potvrdzovacou SMS súhlasíte s prihlásením sa na odber našej 
            služby. Doba platnosti sa automaticky predlžuje dovtedy, kým nepošlete 
            správu s textom STOP ING na číslo 7404.
            Tento obsah sa dá použiť na všetkých mobilných zariadeniach. Ak 
            potrebujete informácie, zavolajte na 0800008304. alebo pošlite email na 
            info-sk@mobileinfo.biz.
            Zaslaním potvrdzujúcej SMS si predplatite službu zasielania SMS 
            správ. Ak máte menej ako 18 rokov, musíte požiadat o súhlas svojich 
            rodičov. Vašou odpovedou prostredníctvom potvrdzujúcej SMS súhlasíte s 
            prihlásením sa na odber našej služby.
            Centrum pomoci 0800008304 alebo e-mailová podpora 
            info-sk@mobileinfo.biz dostupná pondelok - piatok 9-17h.
            Vlastnik služby: Foxseek Media Limited, www.foxseek.com, 0800008304
            SMS agregator pre Slovensko: goodgames, s.r.o. www.good-games.sk, 0948436649, info@good-games.sk
        </p>

        <p class="links">
            <a href="/sk/terms">Všeobecné obchodné podmienky</a> -
            <a href="/sk/privacy">Zásady ochrany osobných údajov</a> -
            <a href="/sk/help">Pomoc</a>
        </p>

        <p class="copyrights">
            InterestingGame ponúka Foxseek Media Limited
        </p>            
    </footer>
    <script src="/static/skcss/jquery.js"></script>
    <script src="/static/skcss/app.js"></script>
    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"1cd7cf89d2","applicationID":"31317248","transactionName":"MwYAbUUCV0EEUEZfCgpMI1pDClZcSlBTWxUFCgVXaApXVgBL","queueTime":0,"applicationTime":63,"atts":"H0EXGw0YRB5HUhAMHhke","errorBeacon":"bam.nr-data.net","agent":""}</script>
</body>
</html>