<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360">
    <link rel="icon" href=" " type="image/x-icon" />
    <title>Kontakt i Rezygnacja z subskrypcji</title>
    <link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
    <style>
        p {
            font-family: 'Titillium Web', Sans-Serif;
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
            box-sizing: inherit;
        }

        h4 {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h3>Informacje kontaktowe</h3>
            <p>HONGKONG LEADER NETWORK CO., LIMITED</p>
            <p>Flat/RM C, 15/F</p>
            <p>Hua Chiao Commercial Centre 678 Nathan Road</p>
            <p>Mongkok, Hong Kong</p>
            <p>Rejestracja firm. Nr: 2350936</p>
            <p>Pomoc przez e-mail:  <a href="mailto:info-pl@mobileinfo.biz">info-pl@mobileinfo.biz</a></p>
            <p>Pomoc przez telefon: 022 397 4315</p>
            <p>Aby dokonać rezygnacji należy wysłać SMS o treści STOP CFG na numer 80425 (koszt: 0 zł)</p>
            <p style="font-weight: Bold;font-size: 12px;text-align: center">
                <a href="/dm/pl/tnc" style="color: #0611dc">Warunki</a> -
                <a href="/dm/pl/help" style="color: #0611dc">Kontakt i Rezygnacja z subskrypcji</a> -
                <a href="/dm/pl/privacy" style="color: #0611dc">Oświadczenie o prywatności</a>
                {{/*<a href="/dm/pl/disclaimer" style="color: #0611dc">Wyłączenia odpowiedzialności</a>*/}}
            </p>
        </div>

    </div>
</body>

</html>