<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=360"/>
    <title>Interesting GAMES</title>
    <link rel="icon" href=" " type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/static/css/game.css">
    <style>
        .myh {
            margin-top: 10px;
            text-align: center;
            font-size: 25px;
            background-color: #8da728;
            color: white;
            margin-bottom: 10px;
        }

        .btp {
            -webkit-font-smoothing: antialiased;
            line-height: 1.2 !important;
            box-sizing: inherit;
            font-size: 12px !important;
            text-align: justify;
            margin-top: 10px;
        }
    </style>
</head>

<body>
<div class="container">
    <h2 class="myh">Click4Fun GAMES</h2>
    <div class="header">
        <img src="/static/img/bg.png"/>
    </div>
    <div class="footer">
        <div class="sub">
            <p style="font-size:12px">
                Opłata wynosi 24,60 zł brutto / tydzień (pobierane są 2 opłaty po 12,30 zł z VAT na tydzień. Aby dokonać rezygnacji należy wysłać SMS o treści STOP CFG na
                numer 80425
                (koszt: 0 zł)
            </p>
            <button class="buttonOne" id="submit_btn_mobile"
                    onclick="location.href='http://pl.leadernet-hk.com/start-sub?track={{.track}}&service_name={{.service_name}}'">Kontynuuj
            </button>
            <br>
            <p style="font-weight: Bold;font-size: 12px">
                <a href="/dm/pl/tnc" style="color: #0611dc">Warunki</a> -
                <a href="/dm/pl/help" style="color: #0611dc">Kontakt i Rezygnacja z subskrypcji</a> -
                <a href="/dm/pl/privacy" style="color: #0611dc">Oświadczenie o prywatności</a> -
                {{/*<a href="/dm/pl/disclaimer" style="color: #0611dc">Dementi</a>*/}}
            </p>
            <p class="btp">
                Serwis Click4Fun GAMES stanowi świadczenie dodatkowe w ramach usługi o podwyższonej opłacie i jest
                usługą
                subskrypcyjną, która umożliwia html5 games&nbsp;(“Serwis”). Serwis dostępny jest na telefony komórkowe
                bądź inne
                urządzenia końcowe, posiadające kartę SIM w sieci T-Mobile.
                Opłata zostanie doliczona do Twojego rachunku w u twojego operatora (telefon na abonament) lub odliczona
                od
                środków na koncie (telefon na kartę).
                Połączenie internetowe jest konieczne dla korzystania z otrzymanych w ramach Serwisu treści
                multimedialnych. Do
                opłaty za dostęp do Serwisu, nie są wliczone opłaty za transmisję danych. W przypadku gdy korzystanie z
                Serwisu
                wymaga pobierania przez Ciebie danych z wykorzystaniem transmisji GSM, opłaty te będą pobierane przez
                Operatora,
                zgodnie z aktualnym cennikiem zakontraktowanego Operatora.
                Aby dokonać zamówienia, musisz zapoznać się z treścią przedstawioną na Stronie Aktywacyjnej i podążać za
                instrukcjami na niej wskazanymi.
                Rejestracja do Serwisu jest jednoznaczna z akceptacją Regulaminu i Polityki Prywatności. Po rejestracji
                do
                Serwisu, otrzymasz bezpłatną wiadomość powitalną potwierdzającą, że rejestracja do usługi zakończyła się
                powodzeniem.
                Usługa jest aktywowana na czas nieokreślony, do czasu aż z niej zrezygnujesz. Aby dokonać rezygnacji
                należy wysłać
                SMS o treści STOP CFG na numer 80425&nbsp;(koszt: 0&nbsp;zł).
                Kontakt, w razie reklamacji: info-pl@mobileinfo.biz, numer telefoniczny: 022 397 4315 (opłata lokalna)
                od
                poniedziałku do piątku w godzinach 09:00 – 17:00.
                Organizator będzie kontaktować się z Klientem na podany przez niego numer telefonu lub e-mail. Regulamin
                usługi:
                <a href="/dm/pl/tnc">Warunki</a>
                Poprzez przyciśniecie na przycisk Kontynuuj&nbsp;użytkownik wyraźnie potwierdza, że wie, że zamówienie
                pociąga za
                sobą obowiązek zapłaty poprzez rachunek telefoniczny według powyżej opisanej częstotliwości Serwisu.
                Dalej
                użytkownik potwierdza, że zapoznał się z treścią niniejszego Regulaminu organizatora i go wyraźnie
                akceptuje, a
                także zgadza się na natychmiastowe rozpocznie świadczenia Serwisu i związaną z tym utratę jego prawa do
                odstąpienia od umowy o udostępnianie Serwisu w przeciągu 14 dni. Ponadto, wyrażasz również zgodę na to,
                że
                niezwłoczne pobierzesz i zachowasz obowiązującą kopię Regulaminu usługi Organizatora w chwili zawarcia
                umowy o
                usługę (potwierdzenie zawarcia umowy), który będzie ci udostępniony (w postaci linka www)&nbsp; w
                otrzymanym przez
                ciebie SMS-ie potwierdzającym zawarcie umowy na usługę.
            </p>
        </div>
        <div style="text-align: center;font-size: 10px;">
            HONGKONG LEADER NETWORK CO., LIMITED<br>
            Numer rejestracyjny: 2350936<br>
            Sąd rejestracyjny: Hongkong<br>
            Adres rejestracji: Flat/ RM C, 15/F, Hua Chiao Commercial Centre 678 Nathan Road, Mongkok, Hong Kong<br><br>
        </div>
    </div>
</div>
</body>

</html>