<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360">
    <title>Oświadczenie o prywatności</title>
    <link rel="icon" href=" " type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
    <style>
        p {
            font-family: 'Titillium Web', Sans-Serif;
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
            box-sizing: inherit;
        }

        h4 {
            font-weight: 600;
        }

        strong {
            color: #fff;
        }

        ul {
            color: #fff;
            padding: 0;
        }

        span {
            color: #fff;
        }

        table {
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 0;
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
        }

        table thead {
            background: #f8f8f8;
            color: #0a0a0a;
        }

        thead {
            border: 1px solid #f1f1f1;
        }

        table tbody,
        table tfoot,
        table thead {
            border: 1px solid #f1f1f1;
            background-color: #fefefe;
            display: table-row-group;
            vertical-align: middle;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: grey;
        }

        table tbody td,
        table tbody th {
            padding: .5rem .625rem .625rem;
        }

        table tfoot td,
        table tfoot th,
        table thead td,
        table thead th {
            padding: .5rem .625rem .625rem;
            font-weight: 700;
            text-align: left;
        }
        th,td{
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h3 style="font-size: 15px;text-align: left;">ZASADY OCHRONY PRYWATNOŚCI (MOBILNYCH) WITRYN INTERNETOWYCH PRZEZNACZONYCH DLA KONSUMENTÓW</h3>
            <strong>1. WPROWADZENIE</strong>
            <p>Niniejsze zasady ochrony prywatności dotyczą witryny internetowej Click4Fun GAMES i regulują zasady
                ochrony prywatności jej użytkowników, którzy zdecydują się z niej korzystać.</p>
            <p>Zasady te określają różne obszary prywatności użytkowników oraz obowiązki i wymagania dotyczące
                użytkowników, witryny internetowej i właścicieli witryn internetowych. Ponadto w niniejszych zasadach
                również zostanie szczegółowo opisany sposób, w jaki witryna przetwarza, przechowuje i chroni dane i
                informacje dotyczące użytkownika.</p>
            <p>Spółka HONGKONG LEADER NETWORK CO., LIMITED jest administratorem danych do celów związanych z ogólnym rozporządzeniem UE o
                ochronie danych, które wchodzi w życie dnia 25 maja 2018 r. Dane kontaktowe spółki można znaleźć w
                witrynie internetowej. Jeśli użytkownik nie jest zadowolony z jakiegokolwiek aspektu dotyczącego
                gromadzenia i wykorzystywania jego danych, ma on prawo złożyć skargę do miejscowego organu nadzorczego
                w kwestiach ochrony danych. Spółka będzie wdzięczna, jeśli użytkownik najpierw skontaktuje się z nią w
                przypadku skarg, aby mogła ona podjąć próbę rozwiązania problemu.</p>

            <strong>2. JAKIE DANE UŻYTKOWNIKA GROMADZI SPÓŁKA </strong>

            <p>Dane osobowe oznaczają wszelkie informacje umożliwiające identyfikację osoby fizycznej. Nie obejmują one
                danych przetworzonych w celu zapewnienia anonimowości. </p>

            <p>Spółka może przetwarzać niektóre rodzaje danych osobowych użytkownika w następujący sposób: </p>
            <ul>
                <li><strong>Dane identyfikacyjne</strong> mogą obejmować imię, nazwisko panieńskie, nazwisko, nazwę
                    użytkownika, stan cywilny, tytuł, datę urodzenia i płeć. </li>
                <li><strong>Dane kontaktowe</strong> mogą obejmować adres do faktury, adres dostawy, adres e-mail i
                    numery telefonów. </li>
                <li><strong>Dane finansowe</strong> mogą obejmować dane konta bankowego i karty płatniczej. </li>
                <li><strong>Dane transakcji</strong> mogą obejmować szczegóły dotyczące płatności pomiędzy spółką a
                    użytkownikiem oraz inne szczegóły zakupów dokonanych przez użytkownika. </li>
                <li><strong>Dane techniczne</strong> mogą obejmować dane logowania, adresy protokołów internetowych,
                    typ i wersję przeglądarki, typy i wersje wtyczek do przeglądarki, ustawienia strefy czasowej i
                    lokalizację, informacje dotyczące systemu i platformy operacyjnej oraz innych technologii
                    stosowanych na urządzeniach, z których korzysta użytkownik w celu uzyskania dostępu do tej witryny.
                </li>
                <li><strong>Dane profilu</strong> mogą obejmować nazwę użytkownika i hasło, informacje dotyczące
                    zakupów lub zamówień, zainteresowania, preferencje, opinie i odpowiedzi udzielone w ankiecie przez
                    użytkownika. </li>
                <li><strong>Dane użytkowe</strong> mogą obejmować informacje o sposobie korzystania z witryny
                    internetowej, produktów i usług spółki. </li>
                <li><strong>Dane marketingowe i komunikacyjne</strong> mogą obejmować preferencje użytkownika w
                    zakresie otrzymywania komunikatów marketingowych od spółki i jej podmiotów zewnętrznych oraz
                    preferencje dotyczące komunikacji. </li>
            </ul>
            <p>Spółka może również przetwarzać dane zagregowane uzyskane z danych osobowych użytkownika, ale dane te
                nie ujawniają tożsamości użytkownika i same w sobie nie są danymi osobowymi. Przykładem może być
                sytuacja, w której spółka przegląda dane użytkowe użytkownika w celu określenia odsetka użytkowników
                witryny korzystających z określonej funkcji. Jeżeli spółka połączy zagregowane dane z danymi osobowymi
                użytkownika w celu umożliwienia jego identyfikacji, dane takie będą traktowane jako dane osobowe. </p>

            <strong>Dane szczególnie chronione </strong>
            <p>Spółka nie gromadzi żadnych danych szczególnie chronionych dotyczących użytkownika. Dane szczególnie
                chronione dotyczą rasy lub pochodzenia etnicznego, przekonań religijnych lub filozoficznych, życia
                seksualnego, orientacji seksualnej, poglądów politycznych, członkostwa w związkach zawodowych,
                informacji o stanie zdrowia oraz danych genetycznych i biometrycznych. Spółka nie gromadzi żadnych
                informacji o wyrokach skazujących i popełnionych przestępstwach. </p>

            <strong>3. W JAKI SPOSÓB SPÓŁKA GROMADZI DANE OSOBOWE UŻYTKOWNIKÓW </strong>

            <p>Spółka może zbierać dane dotyczące użytkownika różnymi metodami, w tym: </p>
            <ul>
                <li><strong>Stosując interakcję bezpośrednią:</strong> użytkownik może podać dane, wypełniając
                    formularze w witrynie spółki (lub w inny sposób) lub komunikując się z nią pocztą, telefonicznie,
                    pocztą elektroniczną lub w inny sposób, w tym również w przypadku, gdy użytkownik: </li>
                <li>zamówi produkty lub usługi spółki; </li>
                <li>założy konto w witrynie spółki; </li>
                <li>zaprenumeruje usługi lub publikacje spółki; </li>
                <li>zwróci się z prośbą o materiały lub podjęcie działań marketingowych; </li>
                <li>weźmie udział w konkursie, losowaniu nagród, promocji lub ankiecie lub </li>
                <li>podzieli się ze spółką komentarzami. </li>
                <li><strong>Stosując zautomatyzowane technologie lub interakcje:</strong> podczas korzystania przez
                    użytkownika z witryny internetowej spółki może ona automatycznie gromadzić dane techniczne
                    dotyczące urządzeń, przeglądania stron i sposobu korzystania z nich. Spółka gromadzi te dane za
                    pomocą plików cookie, dzienników serwerów i podobnych rozwiązań technicznych. Spółka może również
                    otrzymywać dane techniczne dotyczące użytkownika, kiedy odwiedza on inne witryny internetowe, które
                    korzystają z jej plików cookie. </li>
                <li><strong>Od osób trzecich lub z ogólnodostępnych źródeł:</strong> spółka może otrzymywać dane
                    osobowe dotyczące użytkownika od różnych osób trzecich i ze źródeł publicznych, jak określono
                    poniżej:
                    <ul>
                        <li>od dostawców usług analitycznych takich jak Google z siedzibą poza UE; </li>
                        <li>od sieci reklamowych takich jak Facebook z siedzibą poza UE oraz </li>
                        <li>od dostawców informacji dotyczących wyszukiwania lub śledzenia takich jak firma HOTJAR z
                            siedzibą poza UE. </li>
                    </ul>
                </li>
            </ul>

            <strong>4. W JAKI SPOSÓB SPÓŁKA WYKORZYSTUJE DANE OSOBOWE UŻYTKOWNIKA </strong>

            <p>Spółka będzie wykorzystywać dane osobowe użytkownika tylko wtedy, gdy będzie to dozwolone przez prawo.
                Dane osobowe użytkownika najczęściej wykorzystywane są: </p>
            <ul>
                <li>w przypadku, gdy spółka musi zrealizować umowę zawartą pomiędzy nią a użytkownikiem; </li>
                <li>w przypadku, gdy jest to konieczne ze względu na uzasadnione interesy spółki (lub interesy osób
                    trzecich), a interesy i prawa podstawowe użytkownika nie mają nadrzędnego znaczenia nad tymi
                    interesami; </li>
                <li>w przypadku, gdy spółka jest zobowiązana przestrzegać zobowiązań prawnych i regulacyjnych. </li>
            </ul>
            <p>Ogólnie rzecz biorąc, spółka nie bazuje na zgodzie użytkownika jako podstawie prawnej przetwarzania jego
                danych osobowych, z wyjątkiem wysyłania użytkownikowi wiadomości marketingowych za pośrednictwem poczty
                elektronicznej lub wiadomości tekstowych. Użytkownik w każdej chwili ma prawo do wycofania zgody na
                działania marketingowe i może to zrobić, pisząc do spółki na adres e–mail
                customercare@leader-hk.cn.</p>

            <strong>Cele przetwarzania danych osobowych </strong>

            <p>Poniżej znajduje się opis sposobów, w jaki spółka zamierza wykorzystywać dane osobowe użytkownika oraz
                podstawy prawne, w oparciu o które będzie je przetwarzać. W stosownych przypadkach wyjaśniono również,
                na czym polegają uzasadnione interesy spółki. </p>

            <p>Spółka może przetwarzać dane osobowe użytkownika w oparciu o więcej niż jedną podstawę prawną, w
                zależności od konkretnego celu, dla którego dane są wykorzystywane. Jeśli użytkownik potrzebuje
                szczegółowych informacji na temat podstawy prawnej, na której spółka opiera się, przetwarzając dane
                osobowe użytkownika, w przypadku gdy w poniższej tabeli podano więcej niż jeden powód, należy wysłać
                wiadomość e-mail na adres customercare@leader-hk.cn.</p>

            <table>
                <thead>
                    <tr>
                        <th>Cel/czynność</th>
                        <th>Rodzaj danych</th>
                        <th>Podstawa prawna przetwarzania danych</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rejestracja nowego klienta</td>
                        <td>(a) Tożsamość <br>
                            (b) Kontakt
                        </td>
                        <td>Realizacja umowy z użytkownikiem</td>
                    </tr>
                    <tr>
                        <td>Przetwarzanie i dostarczanie zamówienia, w tym: <br>
                            (a) Zarządzanie płatnościami, opłatami i należnościami <br>
                            (b) Zbieranie i windykacja należności spółki
                        </td>
                        <td>(a) Tożsamość <br>
                            (b) Kontakt <br>
                            (c) Finansowe <br>
                            (d) Transakcyjne <br>
                            (e) Marketingowe i komunikacyjne
                        </td>
                        <td>(a) Realizacja umowy z użytkownikiem <br>
                            (b) Konieczne ze względu na uzasadniony interes spółki w związku z odzyskiwaniem należności
                        </td>
                    </tr>
                    <tr>
                        <td>Zarządzanie relacjami z użytkownikiem, które obejmują: <br>
                            (a) Powiadamianie o zmianach w warunkach lub zasadach ochrony prywatności <br>
                            (b) Zwrócenie się do użytkownika z prośbą o wyrażenie opinii lub wzięcie udziału w ankiecie
                        </td>
                        <td>(a) Tożsamość <br>
                            (b) Kontakt <br>
                            (c) Profil <br>
                            (d) Marketingowe i komunikacyjne
                        </td>
                        <td>(a) Realizacja umowy z użytkownikiem <br>
                            (b) Konieczne w celu wypełnienia zobowiązania prawnego <br>
                            (c) Konieczne w związku z uzasadnionym interesem spółki w celu zapewnienia aktualności jej
                            dokumentacji i zbadania, w jaki sposób klienci korzystają z produktów i/lub usług spółki
                        </td>
                    </tr>
                    <tr>
                        <td>Umożliwienie użytkownikowi wzięcia udziału w losowaniu nagród, konkursach lub wypełnienie
                            ankiety</td>
                        <td>(a) Tożsamość <br>
                            (b) Kontakt <br>
                            (c) Profil <br>
                            (d) Użytkowe <br>
                            (e) Marketingowe i komunikacyjne
                        </td>
                        <td>(a) Realizacja umowy z użytkownikiem <br>
                            (b) Konieczne w związku z uzasadnionymi interesami spółki w celu zbadania, w jaki sposób
                            klienci korzystają z produktów i/lub usług spółki, w celu ich rozwijania oraz rozwijania
                            działalności przez spółkę.
                        </td>
                    </tr>
                    <tr>
                        <td>Zarządzanie działalnością i witryną spółki oraz ich ochrona (w tym rozwiązywanie problemów,
                            analiza danych, testowanie, konserwacja systemu, wsparcie, raportowanie i hosting danych).</td>
                        <td>(a) Tożsamość <br>
                            (b) Kontakt <br>
                            (c) Techniczne
                        </td>
                        <td>(a) Konieczne ze względu na uzasadnione interesy spółki związane z prowadzeniem
                            działalności, świadczeniem usług administracyjnych i informatycznych, bezpieczeństwem
                            sieci, zapobieganiem oszustwom, a także w kontekście reorganizacji działalności lub
                            restrukturyzacji grupy <br>
                            (b) Konieczne w celu wypełnienia zobowiązania prawnego
                        </td>
                    </tr>
                    <tr>
                        <td>Dostarczanie użytkownikowi odpowiednich treści i reklam oraz pomiar i zrozumienie
                            skuteczności reklam spółki.</td>
                        <td>(a) Tożsamość <br>
                            (b) Kontakt <br>
                            (c) Profil <br>
                            (d) Użytkowe <br>
                            (e) Marketingowe i komunikacyjne<br>
                            (f) Techniczne
                        </td>
                        <td>Konieczne w związku z uzasadnionymi interesami spółki w celu zbadania, w jaki sposób
                            klienci korzystają z produktów i/lub usług spółki, w celu ich rozwijania, w celu rozwijania
                            działalności przez spółkę oraz w celu informowania o strategii marketingowej spółki</td>
                    </tr>
                    <tr>
                        <td>Wykorzystanie analizy danych do ulepszania witryny spółki, jej produktów i/lub usług,
                            marketingu, relacji z klientami i doświadczeń</td>
                        <td>(a) Techniczne <br>
                            (b) Użytkowe
                        </td>
                        <td>Konieczne w związku z uzasadnionymi interesami spółki w celu zdefiniowania rodzajów
                            klientów dla poszczególnych produktów i usług spółki, w celu zapewnienia aktualności i
                            odpowiedniości witryny spółki, w celu rozwijania działalności przez spółkę oraz w celu
                            informowania o strategii marketingowej spółki</td>
                    </tr>
                    <tr>
                        <td>Sugerowanie i rekomendowanie użytkownikom towarów i usług, które mogą być dla nich
                            interesujące</td>
                        <td>(a) Tożsamość <br>
                            (b) Kontakt <br>
                            (c) Techniczne <br>
                            (d) Użytkowe <br>
                            (e) Profil
                        </td>
                        <td>Konieczne w związku z uzasadnionymi interesami spółki w celu rozwijania produktów i/lub
                            usług spółki i jej działalności.</td>
                    </tr>
                </tbody>
            </table>

            <strong>Komunikacja marketingowa </strong>

            <p>Użytkownik będzie otrzymywać od spółki informacje marketingowe, jeśli: </p>
            <p>
                i (i) zażądał od spółki informacji lub nabył od niej towary lub usługi, lub <br>
                ii (ii) podał spółce swoje dane i zaznaczył pole w miejscu wprowadzania danych, aby wyrazić zgodę na
                przesyłanie mu informacji marketingowych oraz <br>
                iii (iii) użytkownik nie zrezygnował z otrzymywania takich informacji marketingowych.
            </p>
            <p>Przed udostępnieniem danych osobowych osobom trzecim w celach marketingowych spółka uzyska wyraźną zgodę
                użytkownika. </p>

            <p>Użytkownik może w dowolnym momencie zwrócić się do spółki lub osoby trzeciej, aby zaprzestała wysyłania
                wiadomości marketingowych. Można to zrobić, wysyłając do spółki wiadomość e-mail na adres
                customercare@leader-hk.cn.</p>

            <p>Rezygnacja z otrzymywania informacji marketingowych od spółki nie ma związku z danymi osobowymi
                dostarczonymi spółce w wyniku zakupu produktu i/lub usługi, rejestracji gwarancji, doświadczenia z
                produktem i/lub usługą oraz z innymi transakcjami.</p>
            Zmiana celu

            <p>Spółka będzie wykorzystywać dane osobowe użytkownika wyłącznie do celów, dla których zostały one
                zebrane, chyba że zasadnie uzna ona, że konieczne jest ich wykorzystanie w inny sposób i że sposób ten
                jest zgodny z pierwotnym celem. Aby dowiedzieć się więcej o tym, w jaki sposób przetwarzanie w nowym
                celu jest zgodne z pierwotnym celem, należy przesłać wiadomość e-mail na adres
                customercare@leader-hk.cn.</p>

            <p>
                Jeżeli spółka będzie zmuszona wykorzystać dane osobowe do celów niezwiązanych z celem, dla którego
                zostały one zebrane, poinformuje o tym użytkownika i wyjaśni podstawę prawną przetwarzania danych. <br>
                Spółka może przetwarzać dane osobowe bez wiedzy lub zgody użytkownika, jeżeli jest to wymagane lub
                dozwolone przez przepisy prawa.
            </p>

            <strong>5. UJAWNIENIE DANYCH OSOBOWYCH </strong>

            <p>Spółka może być zobowiązana do przekazania danych osobowych użytkownika wskazanym poniżej podmiotom w
                celach określonych w tabeli w ustępie 4 powyżej. Podmiotami takimi są: </p>
            <ul>
                <li>inne firmy należące do grupy spółki, które świadczą usługi informatyczne, bilingowe i
                    administrowania systemami oraz zajmują się sprawozdawczością w zakresie działań kierowniczych; </li>
                <li>usługodawcy świadczący usługi informatyczne i administrowania systemami; </li>
                <li>profesjonalni doradcy, w tym prawnicy, bankowcy, audytorzy i ubezpieczyciele, którzy świadczą
                    usługi doradcze, bankowe, prawne, ubezpieczeniowe i księgowe; </li>
                <li>organy podatkowo–celne, organy regulacyjne i inne organy mające siedzibę w UE oraz w innych
                    stosownych systemach prawnych, które w pewnych okolicznościach wymagają zgłaszania działań
                    związanych z przetwarzaniem danych; </li>
                <li>organy rządowe i pozarządowe, które regulują kwestie związane z kodeksami postępowania na rynku i
                    skargami klientów;</li>
                <li>osoby trzecie, którym spółka sprzedaje, przekazuje lub z którymi łączy część swojej działalności
                    lub aktywów. </li>
            </ul>
            <p>Od wszystkich osób trzecich, którym spółka przekazuje dane osobowe użytkownika, wymaga ona poszanowania
                bezpieczeństwa danych osobowych i traktowania ich zgodnie z przepisami prawa. Spółka zezwala takim
                osobom trzecim na przetwarzanie danych osobowych użytkownika wyłącznie w określonych celach i zgodnie z
                instrukcjami udzielonymi przez spółkę. </p>

            <strong>6. TRANSFER ZA GRANICĘ </strong>

            <p>Spółka nie przekazuje danych osobowych poza Europejski Obszar Gospodarczy <strong>(EOG)</strong></p>

            <strong>7. BEZPIECZEŃSTWO DANYCH</strong>

            <p>
                Spółka wprowadziła odpowiednie środki bezpieczeństwa, aby nie dopuścić do przypadkowej utraty,
                wykorzystania lub uzyskania dostępu do danych osobowych użytkownika przez osoby nieupoważnione oraz aby
                nie dopuścić do zmiany lub ujawnienia takich danych. Ponadto spółka ogranicza dostęp do danych
                osobowych użytkownika i udziela go tylko tym pracownikom, agentom, kontrahentom i innym osobom trzecim,
                które mają służbową potrzebę zapoznania się z takimi danymi. Dane osobowe użytkownika będą przetwarzane
                wyłącznie na zlecenie spółki i podlegają one obowiązkowi zachowania poufności.
                Spółka wprowadziła procedury postępowania w przypadku podejrzenia naruszenia zasad ochrony danych
                osobowych i poinformuje użytkownika oraz właściwy organ regulacyjny o naruszeniu w przypadkach, w
                których jest do tego prawnie zobowiązana.
            </p>

            <strong>8. CZAS PRZECHOWYWANIA DANYCH </strong>

            <p>Spółka będzie przechowywać dane osobowe użytkownika przez czas, jaki będzie niezbędny do realizacji
                celów, dla których zostały zgromadzone, w tym do celów spełnienia wymogów prawnych, księgowych i
                sprawozdawczych. </p>

            <p>
                Aby określić odpowiedni okres przechowywania danych osobowych, spółka bierze pod uwagę ilość, charakter
                i wrażliwość danych osobowych, potencjalne ryzyko wyrządzenia szkody wynikające z nieuprawnionego
                wykorzystania lub ujawnienia danych osobowych, cele, dla których spółka przetwarza dane osobowe oraz
                to, czy może ona osiągnąć te cele za pomocą innych środków, a także stosowne wymogi prawne.
                Zgodnie z prawem, dla celów podatkowych spółka jest zobowiązana przechowywać podstawowe informacje
                dotyczące swoich klientów (w tym dane kontaktowe, dane identyfikacyjne, dane finansowe i dane dotyczące
                transakcji) przez sześć lat po tym, jak przestaną oni być klientami.
            </p>

            <p>W niektórych przypadkach użytkownik może zwrócić się do spółki o usunięcie jego danych — dalsze
                informacje znajdują się poniżej. </p>

            <p>W pewnych okolicznościach spółka może anonimizować dane osobowe użytkownika (aby nie można było powiązać
                ich z użytkownikiem) do celów badawczych lub statystycznych. W takim przypadku spółka może
                wykorzystywać te informacje bezterminowo bez dalszego powiadamiania użytkownika o tym fakcie. </p>

            <strong>9. PRAWA UŻYTKOWNIKA </strong>

            <p>W odniesieniu do swoich danych osobowych użytkownik w pewnych okolicznościach ma prawa wynikające z
                przepisów o ochronie danych. Są to prawa: </p>
            <ul>
                <li>żądania dostępu do swoich danych osobowych, </li>
                <li>żądania skorygowania swoich danych osobowych,</li>
                <li>żądania usunięcia swoich danych osobowych, </li>
                <li>sprzeciwu wobec przetwarzania danych osobowych, </li>
                <li>żądania ograniczenia przetwarzania swoich danych osobowych, </li>
                <li>żądania przeniesienia swoich danych osobowych, </li>
                <li>wycofania zgody. </li>
            </ul>
            <p>Więcej informacji na temat tych praw można znaleźć na stronie internetowej lokalnego urzędu ds. ochrony
                prywatności.</p>

            <p>Aby skorzystać z któregokolwiek z wyżej wymienionych praw, należy przesłać wiadomość e-mail na adres
                customercare@leader-hk.cn.</p>

            <p>Aby uzyskać dostęp do swoich danych osobowych (lub skorzystać z innych praw), użytkownik nie będzie
                musiał uiszczać opłaty. Spółka może jednak pobierać rozsądną opłatę, jeśli żądanie użytkownika jest
                wyraźnie nieuzasadnione, powtarzające się lub nadmierne. W takich okolicznościach spółka może również
                odmówić zastosowania się do prośby użytkownika. </p>

            <p>W celu potwierdzenia tożsamości i zapewnienia prawa dostępu do danych osobowych (lub możliwości
                skorzystania przez użytkownika z jednego z praw) może zaistnieć konieczność zwrócenia się do
                użytkownika o podanie konkretnych informacji. Jest to środek bezpieczeństwa mający na celu
                zagwarantowanie, że dane osobowe nie zostaną ujawnione żadnej osobie, która nie ma prawa do ich
                otrzymania. Spółka może również skontaktować się z użytkownikiem, aby poprosić go o dalsze informacje w
                związku z jego wnioskiem, co ma na celu przyspieszenie udzielenia odpowiedzi. </p>

            <p>Spółka stara się odpowiadać na wszystkie uzasadnione wnioski w ciągu jednego miesiąca. W niektórych
                przypadkach może to potrwać dłużej niż miesiąc, jeśli wniosek użytkownika jest szczególnie złożony lub
                jeśli użytkownik złoży większą liczbę wniosków. W takim przypadku spółka poinformuje użytkownika o tym
                fakcie i będzie na bieżąco przekazywać dalsze powiadomienia. </p>

            <strong>10. ŁĄCZA PODMIOTÓW ZEWNĘTRZNYCH </strong>

            <p>W tej witrynie mogą znajdować się łącza do stron internetowych, wtyczek i aplikacji podmiotów
                zewnętrznych. Kliknięcie tych łączy lub uruchomienie tych połączeń być może spowoduje, że podmioty
                zewnętrzne będą gromadzić lub udostępniać dane użytkownika. Spółka nie kontroluje tych stron
                internetowych podmiotów zewnętrznych i nie ponosi odpowiedzialności za ich oświadczenia dotyczące
                ochrony prywatności. Spółka zachęca, aby użytkownik opuszczając jej witrynę, zapoznawał się z
                informacją o ochronie prywatności każdej odwiedzanej strony. </p>

            <strong>11. PLIKI COOKIE </strong>

            <p>Użytkownik może ustawić swoją przeglądarkę tak, aby odrzucała wszystkie lub niektóre pliki cookie lub
                ostrzegała o ustawieniu lub dostępie do plików cookie przez witryny. W przypadku wyłączenia lub
                odrzucenia plików cookie należy pamiętać, że niektóre części tej witryny mogą stać się niedostępne lub
                działać nieprawidłowo. </p>

            <p>Witryna spółki używa plików cookie, aby odróżnić użytkownika od innych użytkowników. Pomaga to spółce
                zapewnić użytkownikowi dobre doświadczenia podczas przeglądania stron witryny spółki, a także pozwala
                spółce ulepszać jej strony. </p>

            <p>Cookie to mały plik składający się z liter i cyfr, który spółka przechowuje w przeglądarce użytkownika
                lub na dysku twardym jego komputera. <strong>Korzystając z tej witryny, użytkownik zgadza się na
                    stosowanie plików cookie.</strong> Pliki cookie zawierają informacje przesyłane na dysk twardy
                komputera. Witryny spółki mogą stosować jeden lub więcej rodzajów następujących plików cookie: </p>
            <ul>
                <li><strong>Ściśle konieczne pliki cookie.</strong> Są to pliki cookie, które są wymagane do działania
                    stron w witrynie spółki. Należą do nich na przykład pliki cookie, które umożliwiają zalogowanie się
                    do bezpiecznych obszarów. </li>
                <li><strong>Analityczne i/lub wydajnościowe pliki cookie.</strong> Pozwalają spółce rozpoznać i
                    policzyć liczbę odwiedzających oraz ustalić, jak odwiedzający poruszają się po witrynie podczas
                    korzystania z niej. Pomaga to usprawnić działanie witryny, na przykład poprzez zapewnienie
                    użytkownikom łatwego odnajdywania tego, czego szukają. </li>
                <li><strong>Funkcjonalne pliki cookie.</strong> Służą do rozpoznawania użytkownika po powrocie do
                    witryny. Dzięki nim spółka może spersonalizować treści przeznaczone dla użytkownika i zapamiętać
                    jego preferencje. </li>
                <li><strong>Pliki cookie targetujące.</strong> Te pliki cookie zapisują wizyty użytkownika w witrynie
                    spółki, odwiedzone strony oraz kliknięte łącza. Informacje te zostaną wykorzystane w celu lepszego
                    dostosowania witryny i wyświetlanych reklam do zainteresowań użytkownika. </li>
            </ul>
            <p>Należy pamiętać, że osoby trzecie (w tym na przykład sieci reklamowe i dostawcy usług zewnętrznych,
                takich jak usługi analizy ruchu sieciowego) mogą również używać plików cookie, nad którymi spółka nie
                ma żadnej kontroli. Te pliki cookie najczęściej są analitycznymi i/lub wydajnościowymi albo
                targetującymi plikami cookie. </p>

            <span>Przykłady plików cookie podmiotów zewnętrznych dostarczających usługi: </span>
            <ul>
                <li>Google Analytics </li>
                <li>Twitter </li>
                <li>Facebook </li>
                <li>Pinterest </li>
                <li>LinkedIn </li>
                <li>Instagram </li>
                <li>Google+ </li>
            </ul>
            <p>Więcej informacji na temat plików cookie można uzyskać, odwiedzając poszczególne witryny. </p>

            <p>Jeśli użytkownik chce dowiedzieć się więcej na temat plików cookie, może odwiedzić stronę <a href="http://www.aboutcookies.org/">http://www.aboutcookies.org/</a>,
                która jest niezależnie prowadzona przez podmiot zewnętrzny i na której wyjaśniono, czym są pliki cookie
                i czyste pliki GIF oraz w jaki sposób można z nimi postępować. Należy pamiętać, że spółka nie ponosi
                odpowiedzialności za zawartość tej zewnętrznej strony internetowej i nie sprawuje nad nią żadnej
                kontroli. </p>
            <p>
                Użytkownik może zablokować pliki cookie, aktywując w przeglądarce ustawienia pozwalające na ich
                wyłączenie. Jeśli jednak użytkownik za pomocą ustawień przeglądarki zablokuje wszystkie pliki cookie (w
                tym niezbędne pliki cookie), może nie mieć dostępu do wszystkich lub niektórych części witryny spółki.
                <br>
                Z wyjątkiem plików ściśle niezbędnych i funkcjonalnych, pliki cookie wygasają w ciągu dwóch lat.
            </p>
            <strong>12. Wersja </strong>

            <p>Niniejsze zasady obowiązują od dnia 1 maja 2018 r. </p>
            <p style="font-weight: Bold;font-size: 12px;text-align: center">
                <a href="/dm/pl/tnc" style="color: #0611dc">Warunki</a> -
                <a href="/dm/pl/help" style="color: #0611dc">Kontakt i Rezygnacja z subskrypcji</a> -
                <a href="/dm/pl/privacy" style="color: #0611dc">Oświadczenie o prywatności</a>
                {{/*<a href="/dm/pl/disclaimer" style="color: #0611dc">Dementi</a>*/}}
            </p>
        </div>

    </div>
</body>

</html>