<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=360" />
	<title>Interesting GAMES</title>
	<link rel="icon" href=" " type="image/x-icon" />
	<link type="text/css" rel="stylesheet" href="/static/css/game.css">
	<style>
		.myh {
			margin-top: 0px;
    text-align: center;
    font-size: 34px;
    background-color: #8da728;
    color: white;
    padding: 11px;
    margin-bottom: 10px;
		}

		.btp {
			-webkit-font-smoothing: antialiased;
			line-height: 1.2!important;
			box-sizing: inherit;
			font-size: 12px!important;
			text-align: justify;
			margin-top: 10px;
		}
	</style>
</head>

<body>
	<div class="container">
		<h2 class="myh">Click4Fun GAMES</h2>
		<!-- <div class="header"> -->
			<!-- <img src="/static/img/bg.png" />
		</div> -->
		<div class="footer">
			<div class="sub">
                <br>
                <br>
                <br>
				<p style="font-size:30px">
					<strong>
						<b>Sukces subskrypcji</b>
					</strong> 
                </p>
                <br>
                <br>
                <br>
				<button class="buttonOne" id="submit_btn_mobile" onclick="location.href='http://127.0.0.1:8091/start-sub?track={{.track}}'">Kontynuuj</button>
                <br>
                <br>
                <p style="font-weight: Bold;font-size: 12px">
					<a href="/dm/pl/tnc" style="color: #0611dc">Warunki</a> -
					<a href="/dm/pl/help" style="color: #0611dc">Kontakt i Rezygnacja z subskrypcji</a> -
					<a href="/dm/pl/privacy" style="color: #0611dc">Oświadczenie o prywatności</a>
					{{/*<a href="/dm/pl/disclaimer" style="color: #0611dc">Zrzeczenie się</a>*/}}
				</p>
				
			</div>
		</div>
	</div>
</body>

</html>