<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=360">
	<title>Warunki</title>
	<link rel="icon" href=" " type="image/x-icon" />
	<link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
	<style>
		p {
			font-family: 'Titillium Web', Sans-Serif;
			margin-bottom: 1rem;
			font-size: inherit;
			line-height: 1.6;
			text-rendering: optimizeLegibility;
			box-sizing: inherit;
		}

		h4 {
			font-weight: 600;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="content">
			<h3>ZASADY I WARUNKI</h3>
			<h4> 1. POSTANOWIENIA OG&Oacute;LNE </h4>
			<p> 1.1 Regulamin określa zasady korzystania z Usługi Dostępu, polegającej na dostarczeniu Użytkownikowi przez
				T-Mobile Kodu SMS lub<span style="font-family: 'MS Gothic';"> </span>udostępnieniu Autoryzowanej Strony (landing
				page), kt&oacute;re umożliwiają zam&oacute;wienie i skorzystanie z Usługi Partnera oraz udostępnieniu<span style="font-family: 'MS Gothic';"> </span>Użytkownikowi
				możliwości dokonanie płatności za skorzystanie z Usługi Partnera, poprzez rachunek T-Mobile.</p>
			<p> 1.2 Usługę Dostępu świadczy T-Mobile Polska S.A. z siedzibą w Warszawie, ul. Marynarska 12, 02-674 Warszawa,
				zarejestrowana w<span style="font-family: 'MS Gothic';"> </span>rejestrze przedsiębiorc&oacute;w Krajowego Rejestru
				Sądowego prowadzonym przez Sąd Rejonowy dla m. st. Warszawy w Warszawie, XIII Wydział<span style="font-family: 'MS Gothic';"> </span>Gospodarczy
				Krajowego Rejestru Sądowego, pod numerem 0000391193, NIP 5261040567, REGON 1011417295, e-mail kontaktowy:<span
				 style="font-family: 'MS Gothic';"> </span>boa@t-mobile.pl, telefon Biura Obsługi Klienta 602 900 (dalej zwana
				&bdquo;T-Mobile&rdquo;)</p>
			<p> 1.3 Usługa Dostępu jest usługą dodatkową, świadczoną w ramach umowy o świadczenie usług telekomunikacyjnych,
				zawartej przez<span style="font-family: 'MS Gothic';"> </span>Użytkownika z T-Mobile. Usługa Dostępu jest
				przypisana do numeru MSiSDN Użytkownika i wymaga posiadania przez Użytkownika dostępu<span style="font-family: 'MS Gothic';"> </span>do
				usługi transmisji danych.</p>
			<p> 1.4 Usługa Dostępu jest kierowana do wszystkich Użytkownik&oacute;w T-Mobile. Skorzystanie z Usługi Dostępu
				oznacza każdorazową akceptację<span style="font-family: 'MS Gothic';"> </span>niniejszego Regulaminu, dokonywaną
				podczas zamawiania Usługi Partnera.</p>

			<h4> 2 DEFINICJE </h4>
			<p> 2.1 Użytkownik &ndash; Abonent T-Mobile, Abonent Mix, Abonent Heyah lub Abonent Heyah Mix, czyli abonent będący
				stroną umowy o<span style="font-family: 'MS Gothic';"> </span>świadczenie usług telekomunikacyjnych z T-Mobile
				zawartej na piśmie oraz Użytkownik T-Mobile na kartę lub Użytkownik Heyah, czyli<span style="font-family: 'MS Gothic';"> </span>abonent
				będący stroną umowy o świadczenie usług telekomunikacyjnych przedpłaconych z T-Mobile zawartej w drodze czynności<span
				 style="font-family: 'MS Gothic';"> </span>faktycznych (nie w formie pisemnej);</p>
			<p> 2.2 SMS &ndash; (short message service), system kr&oacute;tkich wiadomości tekstowych;</p>
			<p> 2.3 Autoryzowana Strona &ndash; bezpieczna strona (landing page), udostępniana przez T-Mobile Użytkownikowi,
				umożliwiająca zam&oacute;wienie i<span style="font-family: 'MS Gothic';"> </span>zakup Usługi Partnera;</p>
			<p> 2.4 Kod &ndash; kod alfanumeryczny, pochodzący z zasob&oacute;w informatycznych Partnera, pobierany przez
				T-Mobile na zlecenie Użytkownika i<span style="font-family: 'MS Gothic';"> </span>wysyłany przez T-mobile
				Użytkownikowi w formie SMS lub przekazywany za pośrednictwem Internetu poprzez transmisję danych za<span style="font-family: 'MS Gothic';"> </span>pośrednictwem
				sieci telekomunikacyjnej T-Mobile, umożliwiający Użytkownikowi dostęp do Usługi Partnera;</p>
			<p> 2.5 Numer MSiSDN &ndash; 9- cio cyfrowy numer telefoniczny przypisany do karty SIM, umieszczonej w urządzeniu
				końcowym Użytkownika;</p>
			<p> 2.6 Partner &ndash; podmiot świadczący na rzecz Użytkownika Usługę Partnera w swoim imieniu i na swoją rzecz;</p>
			<p> 2.7 Usługa Partnera &ndash; usługa świadczona przez Partnera drogą elektroniczną na rzecz Użytkownika na
				zasadach określonych w<span style="font-family: 'MS Gothic';"> </span>odpowiednim regulaminie świadczenia Usług
				Partnera, o charakterze jednorazowym lub cyklicznym, kt&oacute;rej elementami technicznymi<span style="font-family: 'MS Gothic';"> </span>(aktywacyjnymi)
				są: udostępnienie Użytkownikowi w zasobach informatycznych Partnera Kodu, kt&oacute;ry powinien zostać pobrany
				przez<span style="font-family: 'MS Gothic';"> </span>Użytkownika w celu skorzystania z Usługi Partnera lub
				udostępnienie Użytkownikowi przez T-Mobile Autoryzowanej Strony, umożliwiającej<span style="font-family: 'MS Gothic';"> </span>bezpośrednie
				zam&oacute;wienie Usługi Partnera;</p>
			<p> 2.8 Regulamin &ndash; niniejszy regulamin określający zasady świadczenia Usługi Dostępu przez T-Mobile;</p>
			<p> 2.9 Usługa Dostępu &ndash; odpłatna usługa świadczona przez T-Mobile, polegająca na pobraniu Kodu przez T-Mobile
				z zasob&oacute;w informatycznych</p>
			<p> Partnera na zlecenie Użytkownika i przesłaniu go Użytkownikowi na jego numer MSiSDN za pośrednictwem sieci
				telekomunikacyjnej T-<span style="font-family: 'MS Gothic';"> </span>Mobile lub polegająca na udostępnieniu
				Użytkownikowi przez T-Mobile Autoryzowanej Strony, umożliwiającej zam&oacute;wienie Usługi Partnera<span style="font-family: 'MS Gothic';"> </span>oraz
				udostępnienie Użytkownikowi możliwości dokonanie płatności za skorzystanie z Usługi Partnera, poprzez rachunek
				T-Mobile.</p>

			<h4> 3. ZASADY KORZYSTANIA Z USŁUGI DOSTĘPU </h4>
			<p> 3.1 W celu skorzystania z Usługi Dostępu Użytkownik:<span style="font-family: 'MS Gothic';"> </span>a. na
				stronie internetowej Partnera lub za pomocą aplikacji Partnera podaje sw&oacute;j numer MSiSDN lub<span style="font-family: 'MS Gothic';"> </span>b.
				przesyła wiadomość SMS na wskazany bezpłatny numer lub<span style="font-family: 'MS Gothic';"> </span>c. otwiera
				Autoryzowaną Stronę lub aplikację mobilną, używając urządzenia mobilnego z włączoną transmisją danych za
				pośrednictwem<span style="font-family: 'MS Gothic';"> </span>sieci telekomunikacyjnej T-Mobile.</p>
			<p> 3.2 Zam&oacute;wienie i zakup Usługi Partnera następuje poprzez wprowadzenie lub potwierdzenie Kodu otrzymanego
				zwrotnie na numer MSiSDN<span style="font-family: 'MS Gothic';"> </span>Użytkownika oraz naciśnięcie przycisku
				&bdquo;Zamawiam i płacę&rdquo; (lub podobnego) albo poprzez udostępnioną Użytkownikowi Autoryzowaną<span style="font-family: 'MS Gothic';"> </span>Stronę,
				na kt&oacute;rej Użytkownik bezpośrednio naciska przycisk &bdquo;Zamawiam i płacę&rdquo; (lub podobny).</p>
			<p> 3.3 Naciśnięcie przycisku &bdquo;Zamawiam i płacę&rdquo; (lub podobnego) oznacza automatyczną aktywację Usługi
				Dostępu. Dezaktywacja Usługi<span style="font-family: 'MS Gothic';"> </span>Partnera przez Użytkownika oznacza
				r&oacute;wnocześnie automatyczną dezaktywację Usługi Dostępu.</p>
			<p> 3.4 Korzystanie z Usługi Partnera odbywa się na zasadach określonych w odpowiednim regulaminie świadczenia
				Usługi Partnera. Wszelkie<span style="font-family: 'MS Gothic';"> </span>reklamacje dotyczące Usługi Partnera
				powinny być kierowane do Partnera.</p>
			<p> 3.5 Przed rozpoczęciem korzystania z Usługi Dostępu Użytkownik zobowiązany jest zapoznać się i zaakceptować
				niniejszy Regulamin.</p>
			<p> 3.6 W przypadku Usługi Partnera o charakterze cyklicznym i wyboru przez Użytkownika opcji automatycznego
				przedłużania dostępu do<span style="font-family: 'MS Gothic';"> </span>Usługi Partnera, Usługa Dostępu będzie
				świadczona w spos&oacute;b ciągły do momentu dezaktywacji Usługi Dostępu przez Użytkownika.<span style="font-family: 'MS Gothic';"> </span>Użytkownik
				może dokonać dezaktywacji Usługi Dostępu poprzez dezaktywację Usługi Partnera, w spos&oacute;b określony w
				regulaminie Usługi<span style="font-family: 'MS Gothic';"> </span>Partnera.</p>
			<p> 3.7 Kod w ramach Usługi Dostępu może być wysłany tylko do Użytkownika posiadającego aktywną kartę SIM w sieci
				T-Mobile, kt&oacute;rej<span style="font-family: 'MS Gothic';"> </span>operatorem jest T-Mobile</p>

			<h4> 4 ZASADY DOSTĘPU DO USŁUGI DOSTĘPU</h4>
			<p> 4.1 Z Usługi Dostępu można korzystać w zasięgu sieci T-Mobile, kt&oacute;rej operatorem jest T-Mobile Polska
				S.A., zaś w przypadku Użytkownik&oacute;w<span style="font-family: 'MS Gothic';"> </span>korzystających z usługi
				roamingu międzynarodowego także w ramach usługi roamingu międzynarodowego. Usługa Dostępu nie jest<span style="font-family: 'MS Gothic';"> </span>dostępna
				dla Użytkownik&oacute;w T-Mobile, kt&oacute;rzy mają: zablokowane/zawieszone korzystanie z usług
				telekomunikacyjnych w T-Mobile,<span style="font-family: 'MS Gothic';"> </span>nieaktywną kartę SIM T-Mobile,
				aktywną blokadę połączeń wychodzących w T-Mobile lub przekroczony miesięczny limit płatności za usługi<span style="font-family: 'MS Gothic';"> </span>świadczone
				przez Partnera.</p>
			<p> 4.2 Dostęp do Usługi Partnera jest możliwy na zasadach określonych w odpowiednim regulaminie świadczenia Usługi
				Partnera.</p>
			<p> 4.3 Świadczenie Usługi Dostępu nie jest możliwe, jeśli Użytkownik ma zablokowaną usługę WAP SPECJALNY w
				T-Mobile.</p>
			<p> 4.4 Użytkownik może zablokować możliwość korzystania z Usługi Dostępu, uruchamiając blokadę usługi WAP SPECJALNY
				poprzez wysłanie<span style="font-family: 'MS Gothic';"> </span>bezpłatnego SMS o treści SUB ON na numer 80450.</p>
			<p> 4.5 Użytkownik może odblokować możliwość korzystania z Usługi Dostępu, odblokowując usługę WAP SPECJALNY poprzez
				wysłanie<span style="font-family: 'MS Gothic';"> </span>bezpłatnego SMS o treści SUB OFF na numer 80450.</p>
			<p> 4.6 Za korzystanie z Usługi Dostępu w spos&oacute;b niezgodny z niniejszym Regulaminem, lub przepisami prawa
				odpowiedzialność ponosi Użytkownik</p>

			<h4> 5. OPŁATY </h4>
			<p> 5.1 Za zam&oacute;wienie oraz korzystanie z Usługi Partnera T-Mobile pobiera opłatę, kt&oacute;rej wysokość jest
				każdorazowo wskazana na stronie<span style="font-family: 'MS Gothic';"> </span>internetowej Partnera lub w
				aplikacji Partnera.</p>
			<p> 5.2 Opłata należna z tytułu korzystania z Usługi Partnera będzie dokonywana poprzez rachunek T-Mobile oraz
				naliczana po dokonaniu<span style="font-family: 'MS Gothic';"> </span>aktywacji Usługi Dostępu, zgodnie z &sect; 3
				ust. 3 Regulaminu.</p>
			<p> 5.3 W przypadku Usługi Partnera o charakterze cyklicznym, Usługa Dostępu będzie świadczona na rzecz Użytkownika,
				kt&oacute;ry dokonał<span style="font-family: 'MS Gothic';"> </span>aktywacji Usługi Dostępu, do momentu jej
				dezaktywacji przez Użytkownika, zgodnie z &sect; 3 ust. 3 Regulaminu. Powyższe oznacza, że po<span style="font-family: 'MS Gothic';"> </span>upływie
				każdego okresu rozliczeniowego określonego dla danej Usługi Partnera Usługa Dostępu zostanie automatycznie
				przedłużona na<span style="font-family: 'MS Gothic';"> </span>kolejny okresy rozliczeniowe, a Użytkownik zostanie
				obciążony odpowiednią opłatą cykliczną za korzystanie z Usługi Partnera.</p>
			<p> 5.4 W przypadku Użytkownik&oacute;w będących Abonentami, opłata za korzystanie z Usługi Partnera zostanie
				zawarta na fakturze VAT,<span style="font-family: 'MS Gothic';"> </span>obejmującej opłaty za korzystanie z usług
				telekomunikacyjnych w sieci T-Mobile.</p>
			<p> 5.5 W przypadku Użytkownik&oacute;w będących Użytkownikami T-Mobile na kartę, Użytkownikami Heyah na kartę lub
				Abonentami T-Mobile-Mix,<span style="font-family: 'MS Gothic';"> </span>warunkiem korzystania z Usługi Partnera
				jest posiadanie dodatniej wartości konta, wyższej niż opłata, o kt&oacute;rej mowa w ust. 1 powyżej, w<span style="font-family: 'MS Gothic';"> </span>wysokości
				umożliwiającej pobranie tej opłaty. W przypadku, gdy wartość konta Użytkownika, o kt&oacute;rym mowa powyżej, jest
				mniejsza niż ta<span style="font-family: 'MS Gothic';"> </span>opłata, korzystanie z Usługi Partnera nie będzie
				możliwe.</p>
			<p> 5.6 Wysłanie na wskazany numer wiadomości SMS, o kt&oacute;rej mowa w &sect; 3 ust. 1 pkt. b Regulaminu jest
				bezpłatne.</p>

			<h4> 6. ODPOWIEDZIALNOŚĆ </h4>
			<p> 6.1 Z zastrzeżeniem obowiązk&oacute;w, określonych w ust. 2 &ndash; 4 poniżej, T-Mobile odpowiada za wykonanie
				Usługi Dostępu zgodnie z niniejszym<span style="font-family: 'MS Gothic';"> </span>Regulaminem i przepisami prawa,
				w szczeg&oacute;lności za:<span style="font-family: 'MS Gothic';"> </span>a) przekazanie Użytkownikowi na numer
				MSISDN Użytkownika, prawidłowego Kodu, umożliwiającego zam&oacute;wienie wybranej przez<span style="font-family: 'MS Gothic';"> </span>Użytkownika
				Usługi Partnera,<span style="font-family: 'MS Gothic';"> </span>b) umożliwienie Użytkownikowi dostępu do
				Autoryzowanej Strony umożliwiającej zam&oacute;wienie Usługi Partnera oraz<span style="font-family: 'MS Gothic';"> </span>c)
				udostępnienie Użytkownikowi możliwości dokonanie płatności za skorzystanie z Usługi Partnera, poprzez rachunek
				T-Mobile.</p>
			<p> 6.2 T-Mobile zastrzega sobie prawo do kr&oacute;tkotrwałych przerw w dostępie do Usługi Dostępu, w celu
				przeprowadzenia koniecznych napraw,<span style="font-family: 'MS Gothic';"> </span>modyfikacji lub konserwacji
				serwera/-&oacute;w lub też oprogramowania wykorzystywanego na potrzeby świadczenia Usługi Dostępu.</p>
			<p> 6.3 T-Mobile nie ponosi odpowiedzialności z tytułu korzyści utraconych przez Użytkownika lub osoby trzecie w
				związku z przerwami w<span style="font-family: 'MS Gothic';"> </span>dostępie do Usługi Dostępu, o kt&oacute;rych
				mowa w punkcie powyżej.</p>
			<p> 6.4 T-Mobile nie ponosi odpowiedzialności za niewykonanie lub nienależyte wykonywanie świadczeń, jeżeli jest to
				spowodowane przez<span style="font-family: 'MS Gothic';"> </span>osoby trzecie, za kt&oacute;rych działania lub
				zaniechania nie ponosi odpowiedzialności. Dotyczy to także szk&oacute;d spowodowanych przez wirusy<span style="font-family: 'MS Gothic';"> </span>komputerowe
				i inne tego typu oprogramowanie.</p>
			<p> 6.5 T-Mobile nie ponosi odpowiedzialności za utratę przez Użytkownika lub wejście w posiadanie przez osoby
				trzecie (niezależnie od<span style="font-family: 'MS Gothic';"> </span>sposobu wejścia w posiadanie) Kodu oraz z
				tytułu szk&oacute;d spowodowanych działaniami lub zaniechaniami Użytkownika, w szczeg&oacute;lności<span style="font-family: 'MS Gothic';"> </span>korzystania
				przez niego z Usługi Dostępu lub Usługi Partnera w spos&oacute;b niezgodny z obowiązującymi przepisami prawa lub
				Regulaminem<span style="font-family: 'MS Gothic';"> </span>oraz szk&oacute;d wynikających z podania niepełnych lub
				nieprawdziwych danych.</p>
			<p> 6.6 T-Mobile nie ponosi odpowiedzialności za Usługę Partnera. Wszystkie opinie, porady, oświadczenia, usługi,
				treści i oferty lub inne<span style="font-family: 'MS Gothic';"> </span>informacje lub materiały udostępnione przez
				Partnera, są własnością Partnera lub jego partner&oacute;w.</p>

			<h4> 7 REKLAMACJE </h4>
			<p> 7.1 W przypadku nienależytego wykonywania Usługi Dostępu na zasadach określonych w niniejszym Regulaminie w
				zakresie obowiązk&oacute;w T-<span style="font-family: 'MS Gothic';"> </span>Mobile, w szczeg&oacute;lności
				nieprawidłowym działaniem Usługi Dostępu lub nieprawidłowym naliczaniem opłat za Usługę Partnera poprzez<span style="font-family: 'MS Gothic';"> </span>rachunek
				T-Mobile, Użytkownikowi przysługuje prawo do składania reklamacji.</p>
			<p> 7.2 Reklamacja powinna zawierać dane osoby wnoszącej reklamację (tj. imię, nazwisko i adres), pow&oacute;d
				reklamacji wraz z określeniem<span style="font-family: 'MS Gothic';"> </span>żądania reklamacyjnego. Wszystkie
				reklamacje dotyczące Usługi Dostępu można zgłaszać telefonicznie lub faksem do Biura Obsługi<span style="font-family: 'MS Gothic';"> </span>Klienta
				pod numerem telefonu 602 900, pisemnie na adres: T-Mobile Polska S.A. - Reklamacje, ul. Marynarska 12, 02-674
				Warszawa,<span style="font-family: 'MS Gothic';"> </span>pocztą elektroniczną na adres boa@t-mobile.pl, a także
				pisemnie lub ustnie do protokołu w punkcie sprzedaży (obsługi).</p>
			<p> 7.3 T-Mobile zobowiązany jest do rozpatrzenia reklamacji w terminie 30 dni od dnia jej złożenia. Przez
				rozpatrzenie reklamacji rozumie się<span style="font-family: 'MS Gothic';"> </span>wysłanie do Użytkownika przez
				T-Mobile odpowiedzi na reklamację przed upływem tego terminu.</p>
			<p> 7.4 Reklamacje dotyczące usług telekomunikacyjnych świadczonych przez T-Mobile w ramach Usługi Dostępu
				Użytkownik składa zgodnie z<span style="font-family: 'MS Gothic';"> </span>procedurą przewidzianą w obowiązującym
				go regulaminie świadczenia usług telekomunikacyjnych przez T-Mobile</p>
			<p> 7.5 Reklamacje dotyczące Usługi Partnera Użytkownik składa zgodnie z odpowiednim regulaminem świadczenia Usługi
				Partnera.</p>

			<h4> 8. POSTANOWIENIA KOŃCOWE </h4>
			<p> 8.1 T-Mobile rozpocznie świadczenie Usługi Dostępu w terminie wskazanym w &sect; 3 ust. 3 Regulaminu. Użytkownik
				będący konsumentem<span style="font-family: 'MS Gothic';"> </span>wyraża zgodę na rozpoczęcie przez T-Mobile
				świadczenia Usługi Dostępu niezwłocznie po aktywacji Usługi Dostępu, połączone z<span style="font-family: 'MS Gothic';"> </span>rezygnacją
				z prawa do odstąpienia od umowy o świadczenie Usługi Dostępu.</p>
			<p> 8.2 Użytkownik musi w chwili aktywowania Usługi Dostępu posiadać status Abonenta, Abonenta Mix, Abonenta Heyah,
				Abonenta Heyah Mix,<span style="font-family: 'MS Gothic';"> </span>Użytkownika T-Mobile na kartę lub Użytkownika
				Heyah w sieci T-Mobile. Utrata statusu, o kt&oacute;rym mowa powyżej, r&oacute;wnoznaczna jest z utratą<span style="font-family: 'MS Gothic';"> </span>możliwości
				korzystania z Usługi Dostępu.</p>
			<p> 8.3 T-Mobile może dokonać zmiany Regulaminu z ważnych przyczyn, w szczeg&oacute;lności:<span style="font-family: 'MS Gothic';"> </span>a.
				technicznych i technologicznych związanych ze zmianami funkcjonalności Usługi Dostępu;<span style="font-family: 'MS Gothic';"> </span>b.
				wynikających ze zmian w obowiązującym prawie.</p>
			<p> 8.4 Regulamin obowiązuje od dnia 28.03.2017 r. i dostępny jest na stronie internetowej www.T-Mobile.pl, na
				stronach internetowych i<span style="font-family: 'MS Gothic';"> </span>aplikacjach Partner&oacute;w oraz w
				siedzibie T-Mobile.</p>
			<p> 8.5 Kwestie związane z usługami telekomunikacyjnymi w sieci T-Mobile są uregulowane w umowie o świadczenie usług
				telekomunikacyjnych<span style="font-family: 'MS Gothic';"> </span>wiążącej Użytkownika Sieci T-Mobile i T- Mobile.</p>

			<h4> Informacja </h4>
			<p>Click4Fun GAMES stanowi świadczenie dodatkowe w ramach usługi o podwyższonej opłacie i jest usługą subskrypcyjną,
				kt&oacute;ra umożliwia Games (&ldquo;Serwis&rdquo;). Serwis dostępny jest na telefony kom&oacute;rkowe bądź inne
				urządzenia końcowe (kompatybilnych telefon&oacute;w), posiadające kartę SIM w sieci T-Mobile. Koszt usługi to 24.60
				zł brutto za tydzień. Aby dokonać rezygnacji należy wysłać SMS o treści STOP CFG na numer 80425 (koszt: 0 zł).</p>
			<p>Pobranie wybranych element&oacute;w multimedialnych może ponadto wiązać się z opłatami za transfer danych,
				zgodnie z cennikami operatora. Usługa jest aktywowana na czas nieokreślony, do czasu rezygnacji przez użytkownika.
				Aby dokonać rezygnacji należy wysłać SMS o treści STOP CFG na numer 80425 (koszt: 0 zł).WWW: <a href="mailto:info-pl@mobileinfo.biz">info-pl@mobileinfo.biz</a> kontakt, w tym w razie
				reklamacji:<a href="mailto:info-pl@mobileinfo.biz">info-pl@mobileinfo.biz</a> , numer telefoniczny +852 21395855.
				Organizator będzie kontaktować się z Klientem na podany przez niego numer telefonu lub e-mail.&nbsp;</p>
			<p>Poprzez przyciśniecie na przycisk "Zamawiam i płace" użytkownik wyraźnie potwierdza, że wie, że zam&oacute;wienie
				pociąga za sobą obowiązek zapłaty poprzez rachunek telefoniczny według powyżej opisanej częstotliwości Serwisu.
				Dalej użytkownik potwierdza, że zapoznał się z treścią niniejszego Regulaminu organizatora i go wyraźnie akceptuje,
				a także zgadza się na natychmiastowe rozpocznie świadczenia Serwisu i związaną z tym utratę jego prawa do
				odstąpienia od umowy o udostępnianie Serwisu w przeciągu 14 dni. Ponadto, wyrażasz r&oacute;wnież zgodę na to, że
				niezwłoczne pobierzesz i zachowasz obowiązującą kopię Regulaminu usługi Organizatora w chwili zawarcia umowy o
				usługę (potwierdzenie zawarcia umowy), kt&oacute;ry będzie ci udostępniony (w postaci linka www) w otrzymanym przez
				ciebie SMS-ie potwierdzającym zawarcie umowy na usługę.</p>
			<p style="font-weight: Bold;font-size: 12px;text-align: center">
				<a href="/dm/pl/tnc" style="color: #ffffff">Warunki</a> -
				<a href="/dm/pl/help" style="color: #ffffff">Kontakt i Rezygnacja z subskrypcji</a> -
				<a href="/dm/pl/privacy" style="color: #ffffff">Oświadczenie o prywatności</a> -
				<a href="/dm/pl/disclaimer" style="color: #ffffff">Zrzeczenie się</a>
			</p>
		</div>

	</div>
</body>

</html>