<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=360" />
	<title>Interesting GAMES</title>
	<link rel="icon" href=" " type="image/x-icon" />
	<link type="text/css" rel="stylesheet" href="/static/css/game.css">
	<style>
		.myh {
			margin-top: 10px;
			text-align: center;
			font-size: 25px;
			background-color: #8da728;
			color: white;
			margin-bottom: 10px;
		}

		.btp {
			-webkit-font-smoothing: antialiased;
			line-height: 1.2!important;
			box-sizing: inherit;
			font-size: 12px!important;
			text-align: justify;
			margin-top: 10px;
		}
	</style>
</head>

<body>
	<div class="container">
		<h2 class="myh">Click4Fun GAMES</h2>
		<div class="header">
			<img src="/static/img/bg.png" />
		</div>
		<div class="footer">
			<div class="sub">
				<p style="font-size:12px">
					Opłata wynosi 30.75 PLN putto/tydzień. Aby dokonać rezygnacji należy wysłać SMS o treści STOP CFG na numer 80425
					(koszt: 0 zł)
				</p>
				<button class="buttonOne" id="submit_btn_mobile" onclick="location.href='http://pl.leadernet-hk.com/start-sub?track={{.track}}'">Kontynuuj</button>
				
				
			</div>
		</div>
	</div>
</body>

</html>